<div class="page-header">
  <h1 class="text-center">Welcome to the SmartFunnyCool Timeline</h1>
</div>

<div class="jumbotron">

  <p class='text-center'>The SmartFunnyCool Timeline displays up to three historical or cultural events or figures on a convenient timeline. The search is powered by <a href="http://www.wolframalpha.com">Wolram|Alpha</a> and the timeline was made with <a href="http://visjs.org/index.html">vis.js</a>.</p>
</div>
<div class="row">
  <%= form_tag("/search", method: "post", remote: true, id:"search-form") do %>
  <div class="col-xs-8 col-xs-offset-2 input-group">
    <span class="input-group-addon" id="basic-addon1">1</span>
    <%= text_field_tag 'event1', "", class:"form-control", placeholder:"Event 1", 'aria-describedby':"basic-addon1"%>
    <span id="userDate1" class="input-group-addon" data-toggle="tooltip" data-placement="right" title="Select to input date yourself">
      <%= check_box_tag "user1[event]" %>
    </span>

  </div>
  <div id="input_1" class="col-xs-8 col-xs-offset-2 input-group" style='display:none'>
    <span class="input-group-addon" id="date_start1">Start</span>
    <%= date_field_tag "user1[start_event]", nil, class:"form-control", 'aria-describedby':"date_start1"%>
    <span class="input-group-addon" id="date_end1">End (optional)</span>
    <%= date_field_tag "user1[end_event]", nil, class:"form-control", 'aria-describedby':"date_end1"%>
    <span class="input-group-addon">
      Human?
      <%= check_box_tag "user1[human]" %>
    </span>
  </div>

  <div class="col-xs-8 col-xs-offset-2 input-group">
    <span class="input-group-addon" id="basic-addon2">2</span>
    <%= text_field_tag 'event2', "", class:"form-control", placeholder:"Event 2", 'aria-describedby':"basic-addon2"%>
    <span id="userDate2" class="input-group-addon" data-toggle="tooltip" data-placement="right" title="Select to input date yourself">
      <%= check_box_tag "user2[event]" %>
    </span>
  </div>

  <div id="input_2" class="col-xs-8 col-xs-offset-2 input-group" style='display:none'>
    <span class="input-group-addon" id="date_start2">Start</span>
    <%= date_field_tag "user2[start_event]", nil, class:"form-control", 'aria-describedby':"date_start2"%>
    <span class="input-group-addon" id="date_end2">End (optional)</span>
    <%= date_field_tag "user2[end_event]", nil, class:"form-control", 'aria-describedby':"date_end2"%>
    <span class="input-group-addon">
      Human?
      <%= check_box_tag "user2[human]" %>
    </span>
  </div>

  <div class="col-xs-8 col-xs-offset-2 input-group">
    <span class="input-group-addon" id="basic-addon3">3</span>
    <%= text_field_tag 'event3', "", class:"form-control", placeholder:"Event 3", 'aria-describedby':"basic-addon3"%>
    <span id="userDate3" class="input-group-addon" data-toggle="tooltip" data-placement="right" title="Select to input date yourself">
      <%= check_box_tag "user3[event]" %>
    </span>
  </div>

  <div id="input_3" class="col-xs-8 col-xs-offset-2 input-group" style='display:none'>
    <span class="input-group-addon" id="date_start2">Start</span>
    <%= date_field_tag "user3[start_event]", nil, class:"form-control", 'aria-describedby':"date_start2"%>
    <span class="input-group-addon" id="date_end2">End (optional)</span>
    <%= date_field_tag "user3[end_event]", nil, class:"form-control", 'aria-describedby':"date_end2"%>
    <span class="input-group-addon">
      Human?
      <%= check_box_tag "user3[human]" %>
    </span>
  </div>

  <br>
  <div class="text-center">
    <%= submit_tag("Search", class:"btn btn-primary") %>
  </div>
  <% end %>
</div>
<hr>
<div id="results">

</div>
